{% set how_active='active' %}
{% extends './layout/layout.html' %}

{% block title %}How?{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <h1>How?</h1>
        <p>
        How was this website built? I followed some simple principles and made use of many existing open-source tools.
        </p>
        <p>The principles are:</p>
        <ul>
            <li>Other People's ____</li>
            <p>I used many other people's <u>libraries and tools</u>.</p>

            <li>KISS Principle</li>
            <p>Keep it simple and stupid. I separated the website into different modules and layers; each module and layer has a simple responsibility. I used Gulp.js to manage the packaging and build process.</p>
            <li>Kill two birds with one stone</li>
            <p>Before this assignment, I had not used Gulp.js. I took the opportunity to learn how to use it to manage an HTML front-end workflow.</p>
            <li>Think Outside the Box</li>
            <p>To think outside the box, we need to know where the box is. Initially, I wanted to use a traditional website to display all the information. Then I happened to visit the TimelineJS website and found that a timeline would present my portfolio more informatively. That is how the current visual design came about.</p>
        </ul>
        <p>The tools used:</p>
        <ul>
            <li><a href="https://sass-lang.com/">SASS</a></li>
            <li><a href="https://timeline.knightlab.com/">TimelineJS</a></li>
            <li><a href="https://github.com/paularmstrong/swig">SWIG Template</a></li>
            <li><a href="https://github.com/chrishack/photopile-js">PhotoPile</a></li>
            <li><a href="https://gulpjs.com/">Gulp.js</a></li>
        </ul>
    </div>
</div>
{% endblock %}
