{% set aboutme_active='active' %} 
{% extends './layout/layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/3.9.3/css/timeline.css">
<div id="timeline-embed"></div>
<div id="timeline-mobile" class="timeline-mobile" aria-label="Timeline"></div>
<script src="https://cdn.knightlab.com/libs/timeline3/3.9.3/js/timeline.js"></script>
<script src="js/timeline-data.js"></script>
<script>
    new TL.Timeline('timeline-embed', timelineData);
</script>
{% endblock %}
